#ifndef ${name}DATA_H
#define ${name}DATA_H

$includes
#include <type_traits>


${namespace_open}
/** @class ${name}Data
 *  $description
 *  @author: $author
 */

class ${name}Data {
public:
$members
};

static_assert( std::is_trivially_copyable<${name}Data>::value, "Please check your definition of ${name} in the yaml file.") ;

${namespace_close}

#endif
